# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/
lib/

# ===============================
# Environment Variables
# ===============================
.env
.env.*

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# FastAPI / Runtime
# ===============================
temp/
runs/
logs/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# Build / Cache
# ===============================
*.log
*.sqlite3